/***************************************************************************/
/* STILE DELLA FINESTRA PRESENTI */

/* HELP: Da qui è possibile modificare:
- I font ed i colori dei presenti
- Le dimensioni e la posizione della finestra dei presenti
- Lo sfondo della finestra dei presenti */


/*Frame dei presenti*/

div.presenti iframe.iframe_presenti{
   width: 200px;
   height: 420px;
   overflow: hidden; 
   margin-left:4px;
}

div.presenti iframe.iframe_presenti body.transparent_body{
   background-color: none;
}

div.luogo{
	margin:10px 0 0 0;
	font-size:13px;
	font-weight:bolder;
        color: #031127;
}

div.presente{
	font-weight:normal;
	font-size:12px;
}

div.link_presenti{
	margin-top:0px; /*prima era -5px*/
}


/*Icone di stato dei presenti*/
div.pagina_presenti img.sesso_ico, 
div.pagina_presenti img.status_ico, 
div.pagina_presenti img.disponibile,
div.pagina_presenti_estesa img.sesso_ico, 
div.pagina_presenti_estesa img.status_ico, 
div.pagina_presenti_estesa img.disponibile{
   margin: 0 2px 0 0;
}

div.pagina_presenti{
   width: 190px;
   height: 395px;
   border: 1px solid #b6c7d5;
   overflow: auto;
   background: url("/imgs/patternbox.png") repeat;
   padding-left: 5px;
}

div.pagina_presenti img.disponibile_switch{

}

/*Link nella colonna presenti */
div.pagina_presenti a, 
/*div.pagina_presenti_estesa a, 
div.pagina_presenti_estesa a:visited{} entrambe aggiunte*/
div.pagina_presenti a:visited{
   border: none;
   color: #031127;

}

div.pagina_presenti_estesa a, 
div.pagina_presenti_estesa a:visited{
   border: none;
}

div.pagina_presenti a:hover{
   border: none;
   color: #031127;
}

div.pagina_presenti_estesa a:hover{
   border: none;
}

/*Testo nella colonna presenti*/
div.pagina_presenti ul.elenco_presenti,
div.pagina_presenti_estesa ul.elenco_presenti{
   list-style-type: none;
   list-style-position:inside;
   padding: 0px;
   margin: 0px;
   text-align:left;

}

/*Nomi dei luoghi*/

div.pagina_presenti ul.elenco_presenti li.luogo, 
div.pagina_presenti_estesa ul.elenco_presenti li.luogo{
   font-size: 12px;
   font-weight: bold;
   text-align:center;
   margin: 10px 0px 5px 0px; /*3px 0 1px 8px;*/
   color: #7B859F; /*#031127;*/
   /*background-color: #7B859F;*/
   background: url(http://provalice.altervista.org/themes/tok1/imgs/divisorio-luoghi.png);
   background-repeat: no-repeat;
   background-position: center;
}

div.pagina_presenti_estesa ul.elenco_presenti li.mappa{
   font-size: 13px;
   font-weight: bold;
   margin: 10px 0px 5px 0px; /*3px 0 1px 0; distanza tra le tabelle presenti estesi*/
   /*text-transform: uppercase;*/
   text-align:center;
   color: #031127;
   background: url(http://provalice.altervista.org/themes/tok1/imgs/divisorio-presenti.png);
   background-repeat: no-repeat;
   background-position: center;
   text-transform: uppercase;
}
   

/* Nomi dei personaggi */
div.pagina_presenti ul.elenco_presenti li.presente,
   div.pagina_presenti_estesa ul.elenco_presenti li.presente{
   margin: 5px 72px 0px 72px;
    text-align:center;
    font-size: 12px;
       /*border: 1px dashed #263243 #0a1228 #B6C7D5*/;
       /*background: #263243;*/
          font-style: italic;
}    


div.pagina_presenti_estesa div.presenti_estesi{
   margin-left: 150px; /*prima era 150px*/
   margin-right: 150px;
   margin-bottom: 30px;
   margin-top: 30px;
   background-repeat: no-repeat;
   background-position: top;
}

/*Icone presenti*/
img.presenti_ico{
  margin-left: 2px;
  width: 13px;
  height: 13px;
  border:none;
  padding-right: 2px;
}
/***************************************************************************/


/*Icone presenti
img.presenti_ico_menu{
  margin-left: 2px;
  width: 13px;
  height: 13px;
  border:none;
}

img.presenti_ico{
  margin: auto;
  width: 13px;
  height: 13px;
  border:none;
}

img.presenti_ico_4{
  margin: auto;
  padding-right: 2px;
  width: 17px;
  height: 17px;
  border:none;
}

img.presenti_ico_2{
  margin: auto;
  width: 17px;
  height: 17px;
  border:none;
}

img.presenti_ico_3{
  margin-left: 2px;
  margin-right: 3px;
  width: 15px;
  height: 15px;
  border:none;
}

img.presenti_ico_dispon{
  /*margin-left: 12px;
  float: right;*
  width: 15px;
  height: 15px;
  border:none;
}*/
